.section-intro {
  margin-top: 50px;
  text-align: center;
}

.intro-heading {
  margin-bottom: 80px;
  padding: 2rem;
  background-color: rgb(205, 205, 230);
  border-radius: 10px;
}

.intro-heading img {
  margin: 10px;
}

.intro-heading h1 {
  text-transform: uppercase;
  color: #000000;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0;
}

.intro-heading h1 em {
  font-style: normal;
  text-transform: uppercase;
  color: #ff1700;
}

.section-heading img {
  width: 45px;
  height: 2px;
}

.service-item {
  position: relative;
  z-index: 1;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all 0.3s;
  height: 350px;
}

.service-item:hover {
  background-image: url(/assets/images/background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item .icon {
  margin-left: 0px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.service-item h4 {
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-item p {
  transition: all 0.3s;
  font-size: 15px;
  margin-bottom: 20px;
}

.service-item:hover h4,
.service-item:hover p,
.service-item:hover .text-button a {
  color: #fff;
}

.first-service .icon {
  background-image: url(/assets/icons/study-group.png);
  background-size: cover;
}

.first-service:hover .icon {
  background-size: cover;
  background-image: url(/assets/icons/study-group-2.png);
}

.second-service .icon {
  background-size: cover;
  background-image: url(/assets/icons/notebook-2.png);
}

.second-service:hover .icon {
  background-size: cover;
  background-image: url(/assets/icons/notebook.png);
}

.third-service .icon {
  background-size: cover;
  background-image: url(/assets/icons/graduation.png);
}

.third-service:hover .icon {
  background-size: cover;
  background-image: url(/assets/icons/graduation-2.png);
}

.fourth-service .icon {
  background-size: cover;
  background-image: url(/assets/icons/teacher.png);
}

.fourth-service:hover .icon {
  background-size: cover;
  background-image: url(/assets/icons/teacher-2.png);
}
