.contact-info {
  background-color: #ffffff;
  margin-top: 15px;
}

.nav-item {
  margin: 10px 0;
}

.contact-item {
  padding-top: 5px;
  text-align: center;
}

.footer p {
  color: #000000;
  font-size: 13pt;
  text-align: center;
  margin-bottom: 0;
  padding: 5px 0;
  font-weight: 500;
}

.nav {
  --bs-nav-pills-link-active-bg: #ff3333;
}

.nav-item:hover {
  background-color: #f3e2e2;
  border-radius: 10px;
}

.marker {
  width: 25px;
  height: 25px;
}

.footer-copyright {
  margin: 10px 0;
  background-color: #ff3c3c;
}

.footer-copyright p {
  font-size: 8pt;
  font-weight: 500;
  color: #ffffff;
}

.social-section {
  margin: 50px auto;
}

.social-box {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icon {
  display: block;
  padding: 10px;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .tab-content {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .nav {
    margin-top: 20px;
  }
  .tab-content {
    width: 450px;
  }
  .contact-item h4 {
    font-size: 16pt;
  }
  .contact-item p {
    font-size: 10pt;
  }
}

@media (max-width: 450px) {
  .nav {
    max-width: 160px;
    min-height: 100px;
    @media (max-width: 450px) {
      .nav {
        max-width: 160px;
        min-height: 100px;
        max-height: 100px;
        --bs-nav-link-padding-x: 0;
        margin: 0 40px;
      }

      .contact-item h4 {
        font-size: 10pt;
        margin: 0;
      }
      .contact-item p {
        font-size: 7pt;
        margin: 0 5px;
      }

      .tab-content {
        margin: 30px auto 10px auto;
        width: 350px;
      }
    }
    max-height: 100px;
    --bs-nav-link-padding-x: 0;
    margin: 0 40px;
  }

  .contact-item h4 {
    font-size: 10pt;
    margin: 0;
  }
  .contact-item p {
    font-size: 7pt;
    margin: 0 5px;
  }

  .tab-content {
    margin: 30px auto 10px auto;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .nav {
    margin: 0 15px;
  }
}
