* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0 auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {
  .App {
    max-width: 95vw;
  }
}

@media (max-width: 450px) {
  .App {
    min-width: 100%;
  }
}
