.section-teacher {
  margin: 80px 0 50px 0;
}

.teacher-heading h3 {
  color: #ff1700;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.teacher-item {
  margin-top: 30px;
}

.teacher-item > div img {
  max-height: 500px;
  min-height: 400px;
  object-fit: cover;
  padding: 0 10px;
  border-radius: 30px;
  width: 100%;
}

.teacher-content {
  text-align: center;
  padding: 30px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.teacher-content h4 {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .teacher-content h4 {
    font-weight: 700;
    font-size: 16pt;
  }
}

@media (max-width: 800px) {
  .teacher-content h4 {
    font-size: 15pt;
  }
}

@media (max-width: 450px) {
  .teacher-item > div img {
    max-height: 300px;
    min-height: 300px;
  }
  .teacher-content h4 {
    font-size: 13pt;
  }
}
